<div style="display: flex; align-items: center; justify-content: flex-start; gap: 0; padding-top: 20px; margin-left: 200px;">
        <img src="/images/image.png" alt="DopDiner Image" style="height: 50px; width: auto;">
        <h1 style="font-size: 25px; margin: 14px 0 0 0; line-height: 1;"><b>DopDiner</b></h1>
</div>