<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dopMenu</title>
</head>
<body>
    <% layout("layout/boilerplate") %>
    <div style="display: flex; align-items: center; justify-content: flex-start; gap: 0; padding-top: 20px; margin-left: 200px;">
        <img src="/images/image.png" alt="DopDiner Image" style="height: 50px; width: auto;">
        <h1 style="font-size: 25px; margin: 14px 0 0 0; line-height: 1;"><b>DopDiner</b></h1>
    </div>








    <h3>dopamine menu</h3>
    <ul>
        <%for(let listings of allListings){%>
            <li><a href="listings/<%=listings._id%>"><%=listings.title%></a></li>
            <%}%>
        </ul>
    
</body>
</html>
